@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to top, #3aa8da, #401eb0);
  background-size: cover;
  position: relative;
}

.login-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.login-box {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  width: 400px;
}

.login-box h2 {
  color: white;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  padding-left: 45px;
  border-radius: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 18px;
}

.options {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

.options a {
  color: #3a09b7;
  text-decoration: none;
  font-weight: bold;
}

.login-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 50px;
  background: white;
  color: #2a0e61;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #cbf1ff;
  color: #2a0e61;
}

p {
  color: white;
  margin-top: 10px;
}

p a {
  color: #3a09b7;
  text-decoration: none;
  font-weight: bold;
}
